
body{
	/*font-family: 'Fira Sans', sans-serif;*/
}
body, ul, h1, h2, h3, h4, h5, h6, div, p{
 margin: 0px;
 padding: 0;

}

.col1{ width: 8.33%; } 
.col2{ width: 16.66%; } 
.col3{ width: 25%; } 
.col4{ width: 33.33%; } 
.col5{ width: 41.66%; } 
.col6{ width: 50%; } 
.col7{ width: 58.33%; } 
.col8{ width: 66.66%; } 
.col9{ width: 75%; } 
.col10{ width: 83.11%; } 
.col11{ width: 91.66%; } 
.col12{ width: 100%; } 


.wrapper{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 1200px;
margin: 0 auto;
padding: 0 30px;
height: 100%;
}
.row:after, .row:before{
	display: block;
	content:'';
	clear: both;
}
.row>div{
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row{
	margin: 0 -18px;
}

/* конец сетки*/

/* header */
.page-header{
	background-color: #2c2c2c;
}
.page-header a{
	text-decoration: none;
	color: #fff;
	padding: 9px 12px;
	 }

.header-logo{
	font-size: 22px;
	margin-top: 25px;
}

.header-nav li{
	display: inline-block;
	float: right;
}
iframe{
	float: right;
}

.header-nav a:hover {
	border: 1px solid #fff;
}
.col8{
	font-size: 18px;
	margin-top: 27px;
	margin-bottom: 25px;
}
/* конец header*/
/* организация полетов */

.flyboll{
	background-image: url('../img/ball.jpg');
	background-size: cover;
	height: 645px;
	width: 100%;
	text-align: center;
	position: relative;
}
.flyboll-title{
	color: #fff;
	padding-top: 190px;
	font-size: 66px;
}
.flyboll-detail{
	font-size: 18px;
	color: #fff;
	border: 1px solid #fff;
	padding: 13px 15px;
	text-decoration: none;
	display: inline-block;
	margin-top: 175px;
	
}
.flyboll-detail:before{
	display: block;
	content:"";
	background-image: url('../pict/arrow.png');
	position: absolute;
	background-size: 100%;
	width: 20px; height: 32px;
    bottom: 30px;
    right: 0;
    left: 0;
	margin: auto;
}
.flyboll-detail:after{
	content: "Романтическая прогулка";
	font-size: 22px;	
	color: #fff;
	top: 410px;	
	position:absolute;	
	right: 171px;
}
.psevdo:before{
	content: "Увлекательная экскурсия";
	left:311px;
	top: 125px;
	position: absolute;
	color: #fff;
	font-size: 22px;
}
.psevdo:after{
	content: "Запоминающийся подарок";
	right: 331px;
	top: 55px;
	position: absolute;
	color: #fff;
	font-size: 22px;
}
.flyboll-title:before{
	content: "Удивительный опыт";
	position: absolute;
	color: #fff;
	font-size: 22px;
	top: 405px;
	left: 145px;
	font-weight: normal;
}
/* конец организация полетов*/

/* 4 плюса*/
.bonus-item img{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.bonus-item{
overflow: hidden;
margin: 100px auto 95px auto;
text-align: center;
}
.bonus-item .text{
display: inline-block;
font-size: 18px;
width: 135px;
margin: 0;
padding-left: 20px;
vertical-align: middle;
text-align: left;
}

/* конец 4 плюса*/

.video{
	margin: 0;
}
/* зАГОЛОВКИ И ТЕКСТ*/
h2.section-title{
	font-size: 32px;
	position: relative;
	margin-bottom: 74px;
	color: #444444;
}
h2.section-title-center{
	font-size: 32px;
	text-align: center;
	position: relative;
	margin-bottom: 74px;
	color: #444444;
}

h2.section-title:after{
 	content:'';
    position: absolute;
	width: 60px;
	background-color: #3e98d7;
	height: 6px;
	display: block;
	bottom: -20px;
	right: 0;
	left: 0;
}

h2.section-title-center:before{
	content:'';
    position: absolute;
	width: 60px;
	background-color: #3e98d7;
	height: 6px;
	display: block;
	bottom: -20px;
	right: 0;
	left: 0;
	margin: auto;
}
h3.section-title{
	font-size: 26px;
	padding-bottom: 35px;
	color: #444;
}
h3.two{
	padding-top: 60px;
	color: #444;
}
.text{
	font-size: 18px;
	color: #444444;
	line-height: 24px;
	max-width: 500px;

}

.name{
	color: #444444;
	font-size: 22px;
	font-weight: bold;
}
p.comment{
	font-size: 18px;
	font-style: italic;
	color: #444444;
	max-width: 500px;
	margin: 30px auto 0 auto;

}

.abz{
	margin-top: 35px;
}
.gallery h2, .cost h2, .recoll h2, .instructors h2{
	margin-top: 95px;
}
.pay h2{
	margin-top: 80px;
}
.pay-variant{
	margin-bottom: 70px;
}
/* КОНЕЦ ЗАГОЛОВКИ И ТЕКСТ*/
.line{
	background-color: #eeeeee;
	height: 2px; width: 100%;
	margin-top: 117px;
}
.fly-about h2{
	margin-top: 107px;
}
/* инструкторы и комменты */
.foto-avia{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}
.foto-recoll{
	width: 100px;
	height: 100px;
	border-radius: 50%;

}
.foto{
	text-align: center;
	margin: 0 auto;	

}
 .name span.text{
	font-weight: normal;
	margin-top: 19px;
}
.foto-comment{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 120px;
}

/* конец инструкторы и комменты */



/* way */
.fly-about{
	background-image:  url('../img/mountans.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 650px;
	position: relative;
	text-align: center;
}

.fly-line{
	background-image: url('../img/line.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 1200px;
	height: 200px;
	bottom: 0px;
	top: 230px;
}

.fly-number{
	width: 120px;
	position: absolute;

}
.fly-count{
	margin-top: 18px;
	padding-top: 14px;
	display: block;
	height: 65px;
	background: url('../pict/ball.png') 50% 0 no-repeat;
	color: #fff;
}
.fly-about .wrapper{
position: relative;
}
.boll1{
bottom: 267px;
left: 0px;
}
.boll2{
left: 285px;
bottom: 318px;
}
.boll3{
right: 547px;
bottom: 444px;
}
.boll4{
right: 285px;
bottom: 318px;
}
.boll5{
	right: 0px;
	bottom: 267px;
}
.time{
	color: #fff;
	font-size: 32px;
	background-color: rgba(69, 69, 69, 0.7);
	height: 100px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	vertical-align: middle;

}
.time ul{
	display: block;
	position: relative;
	float: right;
	margin-top: 32px;
}
.time p{
	display: inline-block;
	position: relative;
	float: left;
	margin-top: 32px;
}
.time li{
	display: inline-block;
	position: relative;
	text-align: right;
	padding-right: 38px;
}
/* конец  way */
/* вопросы и оплата*/
.question:before{
    background-image: url('../pict/qw.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 40px;
	height: 35px;
	content:'';
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}
.question{
	font-size: 18px;
	display: inline-block;
	color: #444;
}
.reply{
	font-size: 16px;
	margin-left: 75px;
	font-style: italic;
	margin-top: 27px;
	margin-bottom: 45px;
}
/*конец вопросы и оплата*/
/* статистика */
.stat{
	background-image: url('../img/sky.jpg');
    background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin-top: 90px;
	background-position: 20% 30%;
}

.col3 p.stat-numbers {
color: #fff;
margin: 0 auto;
padding: 0;
font-size: 42px;
border: 7px solid #fff;
border-radius: 100%;
margin-top: 70px;
height: 80px;
width: 80px;
text-align: center;
line-height: 80px;
padding: 40px;
}

p.stat-text{
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 24px;
	margin-top: 25px;
	text-align: center;
	padding-bottom: 60px;
}

/* конец статистика */
/* form */
form{
	padding-top: 95px;
	min-width: 100%;

}
.cost{
	overflow: hidden;
}

 .cost-phone, .cost-name{
width: 352px;
height: 38px;
margin-top: 20px;
}
.cost-select {
width: 392px;
height: 38px;
margin-top: 20px;
}

.cost-mini{
	height: 38px;
	width: 95px;
	margin-top: 20px;
}
.block-cost{
	float: right;
}
input.cost-name {
background-image: url('../pict/form1.gif');
background-position: 10px 10px;
background-size: 20px;
background-repeat: no-repeat;
padding-left: 40px;
border: 2px solid #aed6ff;

}

input.cost-phone {
background-image: url('../pict/form-phone.gif');
background-position: 10px 10px;
background-size: 20px;
background-repeat: no-repeat;
padding-left: 40px;
}


.cost-container{
	font-size: 38px;
	color: #f97e7e;
	float: left;
	padding-left: 20px;
	margin-top: 40px;
	margin-right: 195px;

}
.cost-value{
	font-size: 18px;
	font-weight: bold;
	margin-top: 50px;
	float: left;
}
.label1{
margin-right: 55px;
}
.label3{
margin-right: 55px;
margin-left: 45px;
}
.label2{
margin-right: 30px;
}
.label4{
margin-right: 60px;
}
.label5{
margin-right: 115px;
}
.cost-bt{
	padding: 15px 40px;
	color: #fff;
	background-color: #46b0dc;
	font-size: 18px;
	border: none;
	float: right;
	margin-top: 37px;
}
.form-container{
	overflow: hidden;
}
/* конец form*/

/* контакты */
.contacts{
	background-image: url('../img/footer_sky.jpg');
	background-size: cover;

	width: 100%;
	text-align: center;
	position: relative;
}

.aero-adress-text{
	font-size: 26px;
	color: #4e4e4e;
	padding-top: 100px;

}
.aero-adress-text:before{

	content:"";
	display: block;
	background-image: url('../pict/plane.png');
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 60px; height: 60px;
    bottom: 30px;
    right: 0;
    left: 0;
	margin: auto;
}
.aero-text{
	font-size: 22px;
	color: #2b2b2b;
	padding-top: 70px;
}
address{
	margin-top: 20px;
	margin-bottom: 20px;
}
.aero-text:before{
	content:"";
	display: block;
	background-image: url('../pict/maps.png');
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 35px; height: 50px;
    right: 0px;
    left: 136px;
	top: 325px;
}
.aero-text:after{
	content:"";
	display: block;
	background-image: url('../pict/maps.png');
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 35px; height: 50px;
    left: 490px;
	top: 325px;
}
p.phone
{
	font-size: 26px;
	color: #292929;
	margin-bottom: 65px;
}
.col4-sky{
	padding: 38px auto;
}
p.mail{
	font-size: 22px;
	color: #444;
	padding-top: 70px;
}
p.mail:before{
	content:"";
	display: block;
	background-image: url('../pict/sms.png');
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 23px; height: 17px;
	right: 425px;
	top: 325px;
}

/* конец контакты */
